.card-wrapper {
    border: 1px solid black;
    width: 33%;
    padding:0.25rem
}

#search-city {
    border-bottom: 2px solid grey;
}

.green {
    background-color: green;
    color:white;
}

.yellow {
    background-color: yellow;
    color:black
}

.orange {
    background-color: orange;
    color:black
}

.red {
    background-color: red;
    color:white;
}

.purple {
    background-color: purple;
    color:white;
}